$element-color: #5b3e2c;
$element-size: 1.4em;
$color: white;
$font-h: 'PT Sans Narrow', sans-serif;
$font-p: 'Open Sans', sans-serif;

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10%;
    background-color: #1b8b8f;
    
    header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        #logo {
            width: 25%;
            margin: 0 auto;
        }

        nav {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            font-size: 1.6em;
            background-color: $element-color;
         
           
            a {
                text-decoration: none;
                color: $color;
                padding: 10px;
                font-family: $font-h;
                transition : all  0.6s ease;
            }
            a:hover{
               background-color:#a79189;
               cursor: pointer;
                
            }

        }
    }

    @media  (max-width: 560px) {
        nav {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       width: 100%;
    
          }
          a{
            text-align: center;
          }
     
          a:hover{
            
            background-color: #a79189; 
          }
     }



    .container {
        display: flex;
        flex-wrap: wrap;
        
    
        section {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 65%;
            background-color: #448088;
            img {
                margin-top: 1rem;
                width: 95%;
                border-radius: 10px;
            }
    
            h2 {
                text-align: center;
                width: 100%;
                font-size: $element-size;
                background-color: $element-color;
                color: $color;
                border-radius: 1.5rem;
                padding: 1rem 0;
                font-family: $font-h; 
                text-transform: uppercase;
            }
            p{
                font-family: $font-p;
               
            }
    
        }
    
        @media (max-width: 960px) {
    
            section {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;
            }
    
            img {
                width: 100%;
                margin: 0 auto;
            }
    
            h2 {
                width: 100%;
            }
        }
    }
    
    aside {
       
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 30%;
        background-color: $color;
       
       
        h2 {
            margin: 1rem auto;
            width: 95%;
            text-align: center;
            font-size: $element-size ;
            background-color: $element-color;
            color: $color;
            border-radius: 10px;
            padding: 1rem 0;
            font-family: $font-h;
            text-transform: uppercase;
        }
        p{
            margin: 0 auto;
            font-family: $font-p;
            width: 70%;
        }
    
    }
}

@media  (max-width: 960px) {
    .container  aside {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          width: 100%;
      }

  }

  @media  (max-width: 560px) {
    .container  aside {
         display: none;
      }
      body{
       
        margin: 0 auto;
      }

  }

  
